{
  "overrides": [
    {
      "files": ["*.html", "**/*.js", "**/*.mjs", "**/*.mts", "**/*.json", "**/*.jsonc", "**/*.ts", "**/*.tsx", "**/*.cjs"],
      "options": {
        "semi": true,
        "singleQuote": true,
        "tabWidth": 4,
        "printWidth": 400,
        "trailingComma": "none"
      }
    }
  ]
}
